<div class="header">
    <h1>Welcome to CSE Motors!</h1>
    <a href="/account/login">My Account</a>
</div>

<nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inv">Inventory Management</a></li>
        <% if (typeof nav !== 'undefined') { %>
            <% nav.forEach(item => { %>
                <li><a href="/inv/type/<%= item.classification_id %>"><%= item.classification_name %></a></li>
            <% }); %>
        <% } %>
    </ul>
</nav>