<nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inv">Inventory Management</a></li>
        <%
        // This assumes you have a navList variable passed from the controller
        if (typeof navList !== 'undefined' && navList) { 
            navList.forEach(item => { 
        %>
            <li><a href="/inv/type/<%= item.classification_id %>"><%= item.classification_name %></a></li>
        <% 
            });
        } 
        %>
    </ul>
</nav>