.vehicle-detail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.vehicle-img {
  max-width: 100%;
  height: auto;
  flex: 1 1 300px;
}

.vehicle-info {
  flex: 1 1 300px;
}

@media (max-width: 768px) {
  .vehicle-detail-container {
    flex-direction: column;
  }
}
